@charset "ISO-8859-1";

.profile {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile__container {
	width: 100%;
	display: flex;
	gap: 10px;
}

.user {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border: 3px solid var(--blue);
}

.user__figure {
	width: 100%;
}

.user__img {
	width: 100%;
	border: 3px solid var(--blue);
	border-radius: 100%;
}

.memes {
	width: 100%;
	padding: 10px;
	border: 3px solid var(--blue);
}

.memes__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.memes__item {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.memes__img {
	max-width: 100%;
	height: auto;
	border: 3px solid var(--blue);
}

@media (max-width: 600px) {
    .profile__container {
		flex-direction: column;
	}

	.user {
		width: 100%;
	}

	.user__figure {
		max-width: 200px;
	}

	.memes__list {
		grid-template-columns: repeat(1, 1fr);
	}
}
