<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
	<display-name>site-meme-jsp</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<location>/error.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/not-found.jsp</location>
	</error-page>

	<filter>
		<filter-name>FilterAuthentication</filter-name>
		<filter-class>com.github.julioevencio.sitememejsp.filters.FilterAuthentication</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>FilterAuthentication</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>com.github.julioevencio.sitememejsp.controllers.auth.RegisterController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/auth/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.github.julioevencio.sitememejsp.controllers.auth.LoginController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/auth/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>com.github.julioevencio.sitememejsp.controllers.auth.LogoutController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/auth/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfileController</servlet-name>
		<servlet-class>com.github.julioevencio.sitememejsp.controllers.user.ProfileController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProfileController</servlet-name>
		<url-pattern>/user/profile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PostMemeController</servlet-name>
		<servlet-class>com.github.julioevencio.sitememejsp.controllers.meme.PostMemeController</servlet-class>
		<multipart-config>
        	<max-file-size>10485760</max-file-size>
        	<max-request-size>52428800</max-request-size>
        	<file-size-threshold>2097152</file-size-threshold>
	    </multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>PostMemeController</servlet-name>
		<url-pattern>/meme/post</url-pattern>
	</servlet-mapping>
</web-app>